In [3]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
import numpy as np
from config import userid,pwd

## Extraction

* creating a file path
* reading file in pandas

In [5]:
#Extract

intake_file = "austin-animal-center-intakes.csv"
outcome_file = "austin-animal-center-outcomes.csv"

intake_df = pd.read_csv(intake_file)
outcome_df = pd.read_csv(outcome_file)

FileNotFoundError: [Errno 2] File b'austin-animal-center-intakes.csv' does not exist: b'austin-animal-center-intakes.csv'

In [3]:
#preview outcomes
outcome_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [4]:
#preview intake
intake_df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

## Transforamtion for Outcome
* reduce to pertinent columns
* reformat 'DateTime' to reflect needed information
* rename columns for sql

In [42]:
#Viewing columns needed
outcome_cleaned_df = outcome_df[["Animal ID","DateTime","Outcome Type","Animal Type","Age upon Outcome","Breed","Color"]]

outcome_cleaned_df.head()

,Animal ID,DateTime,Outcome Type,Animal Type,Age upon Outcome,Breed,Color
0,A771830,12/27/2018 01:25:00 PM,Adoption,Dog,1 year,Pit Bull Mix,White/Blue
1,A779576,10/01/2018 05:03:00 PM,Adoption,Cat,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,01/11/2017 06:17:00 PM,Adoption,Cat,10 months,Domestic Shorthair Mix,Calico
3,A658751,11/13/2016 01:38:00 PM,Return to Owner,Dog,5 years,Border Terrier Mix,Tan
4,A721285,02/24/2016 02:42:00 PM,Euthanasia,Other,2 years,Raccoon Mix,Black/Gray

In [43]:
#reformat date (stripped of the timestamp)
outcome_cleaned_df = outcome_cleaned_df.copy()
outcome_cleaned_df["DateTime"] = pd.to_datetime(outcome_cleaned_df["DateTime"]).dt.date
outcome_cleaned_df.head()

,Animal ID,DateTime,Outcome Type,Animal Type,Age upon Outcome,Breed,Color
0,A771830,2018-12-27,Adoption,Dog,1 year,Pit Bull Mix,White/Blue
1,A779576,2018-10-01,Adoption,Cat,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,2017-01-11,Adoption,Cat,10 months,Domestic Shorthair Mix,Calico
3,A658751,2016-11-13,Return to Owner,Dog,5 years,Border Terrier Mix,Tan
4,A721285,2016-02-24,Euthanasia,Other,2 years,Raccoon Mix,Black/Gray

In [44]:
outcome_table = outcome_cleaned_df
outcome_table = outcome_table.rename(columns = {"Animal ID":"animal_id",
                                                 "DateTime":"datetime",
                                                  "Outcome Type":"outcome_type",
                                                  "Animal Type":"animal_type",
                                                  "Age upon Outcome" : "age",
                                                   "Breed":"breed",
                                                    "Color":"color"})
                                                    
# Clean the data by dropping duplicates and setting the index
outcome_table.drop_duplicates("animal_id", inplace=True)            
# Set index
outcome_table.set_index("animal_id", inplace=True)
outcome_table.head()

,datetime,outcome_type,animal_type,age,breed,color
animal_id,,,,,,
A771830,2018-12-27,Adoption,Dog,1 year,Pit Bull Mix,White/Blue
A779576,2018-10-01,Adoption,Cat,5 months,Domestic Shorthair Mix,Brown Tabby
A741715,2017-01-11,Adoption,Cat,10 months,Domestic Shorthair Mix,Calico
A658751,2016-11-13,Return to Owner,Dog,5 years,Border Terrier Mix,Tan
A721285,2016-02-24,Euthanasia,Other,2 years,Raccoon Mix,Black/Gray

# Transforamtion for Intakes

In [45]:
#Viewing columns needed
intake_cleaned_df = intake_df[["Animal ID","DateTime","Intake Type","Animal Type","Age upon Intake","Breed","Color"]]

intake_cleaned_df.head()

,Animal ID,DateTime,Intake Type,Animal Type,Age upon Intake,Breed,Color
0,A748291,05/01/2017 02:26:00 PM,Stray,Dog,10 months,Pit Bull Mix,Black
1,A750529,05/28/2017 01:22:00 PM,Stray,Dog,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,07/07/2016 12:11:00 PM,Stray,Cat,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,05/01/2017 10:53:00 AM,Stray,Dog,3 years,Bichon Frise Mix,White
4,A683644,07/13/2014 11:02:00 AM,Owner Surrender,Dog,4 weeks,Border Collie Mix,Brown/White

In [46]:
#reformat date (stripped of the timestamp)
intake_cleaned_df = intake_cleaned_df.copy()
intake_cleaned_df["DateTime"] = pd.to_datetime(intake_cleaned_df["DateTime"]).dt.date
intake_cleaned_df.head()

,Animal ID,DateTime,Intake Type,Animal Type,Age upon Intake,Breed,Color
0,A748291,2017-05-01,Stray,Dog,10 months,Pit Bull Mix,Black
1,A750529,2017-05-28,Stray,Dog,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,2016-07-07,Stray,Cat,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,2017-05-01,Stray,Dog,3 years,Bichon Frise Mix,White
4,A683644,2014-07-13,Owner Surrender,Dog,4 weeks,Border Collie Mix,Brown/White

In [47]:
intake_table = intake_cleaned_df
intake_table = intake_table.rename(columns = {"Animal ID":"animal_id",
                                                 "DateTime":"datetime",
                                                  "Intake Type":"intake_type",
                                                   "Animal Type":"animal_type",
                                                   "Age upon Intake" : "age",
                                                   "Breed":"breed",
                                                    "Color":"color"})
# Clean the data by dropping duplicates and setting the index
intake_table.drop_duplicates("animal_id", inplace=True)            
# Set index
intake_table.set_index("animal_id", inplace=True)
intake_table.head()
intake_table.head()

,datetime,intake_type,animal_type,age,breed,color
animal_id,,,,,,
A748291,2017-05-01,Stray,Dog,10 months,Pit Bull Mix,Black
A750529,2017-05-28,Stray,Dog,5 months,Miniature Schnauzer Mix,White/Cream
A730601,2016-07-07,Stray,Cat,7 months,Domestic Shorthair Mix,Blue Tabby
A748238,2017-05-01,Stray,Dog,3 years,Bichon Frise Mix,White
A683644,2014-07-13,Owner Surrender,Dog,4 weeks,Border Collie Mix,Brown/White

In [48]:
#FOR MERGE
#list of common columns

common_columns = ["animal_id","datetime","animal_type","age","breed","color"]
intake_outcomes_merged = pd.merge(intake_table,outcome_table,on=common_columns)
intake_outcomes_merged.head()

,datetime,intake_type,animal_type,age,breed,color,outcome_type
animal_id,,,,,,,
A671219,2014-01-21,Stray,Cat,1 year,Siamese Mix,Flame Point,Transfer
A695601,2015-01-18,Wildlife,Other,6 months,Opossum Mix,Gray,Euthanasia
A724944,2016-04-23,Owner Surrender,Cat,1 year,Domestic Shorthair Mix,Brown Tabby/White,Adoption
A714255,2015-10-20,Stray,Cat,1 weeks,Domestic Shorthair Mix,Black,Transfer
A742653,2017-01-25,Stray,Dog,1 year,Yorkshire Terrier Mix,Brown/Black,Return to Owner

## Load

* create database connection
* loaded dateframes in sql

In [49]:
rd_connection_string = "postgres:putka@143@localhost:5432/intake_outcome_animal"
engine = create_engine(f"postgresql://{rd_connection_string}")

In [ ]:
engine=create_engine(f'postgresql://{userid}:{pwd}@localhost:5432/intake_outcome_animal')
conn=engine.connect()

In [50]:
#test is connection to db was successful
engine.table_names()

['intake_outcome']

In [51]:
intake_outcomes_merged.to_sql(name='intake_outcome', con=engine, if_exists='append', index=True)